<!-- 
https://mdbgo.io/ascensus/mdb-advanced/img/clear.gif -->
<!-- https://mdbgo.io/ascensus/mdb-advanced/img/clouds.gif -->
<div class="search-boxen bg-image" id="wrapper-bg"
  style="background-image: url(&quot;https://mdbgo.io/ascensus/mdb-advanced/img/clouds.gif&quot;);height: 100vh;">
  <app-header></app-header>
  <div class="search-result">
    <div class="row">
      <div class="row" style="margin-left: 15%;">
      <div class="icon sun-shower">
        <div class="cloud"></div>
        <div class="sun">
          <div class="rays"></div>
        </div>
        <div class="rain"></div>
      </div>

      <div class="icon thunder-storm">
        <div class="cloud"></div>
        <div class="lightning">
          <div class="bolt"></div>
          <div class="bolt"></div>
        </div>
      </div>

      <div class="icon cloudy">
        <div class="cloud"></div>
        <div class="cloud"></div>
      </div>

      <div class="icon flurries">
        <div class="cloud"></div>
        <div class="snow">
          <div class="flake"></div>
          <div class="flake"></div>
        </div>
      </div>

      <div class="icon sunny">
        <div class="sun">
          <div class="rays"></div>
        </div>
      </div>

      <div class="icon rainy">
        <div class="cloud"></div>
        <div class="rain"></div>
      </div>
    </div>

      <div class="card" style="margin-left: 35%;">
        <h2 style="color: white;">Weather Forecast</h2>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter city name" [(ngModel)]="city"
            (keydown.enter)="getWeather()" />
          &nbsp;&nbsp;<button class="btn btn-primary" (click)="getWeather()">Get Weather</button>
        </div>
      </div>
      <div style="line-height: 1px;">
      </div>
    </div>
    <div class="benchmarks table" style="padding-left: 10%;padding-right: 10%;" *ngIf="weatherDataAvailable">
      <ul class="table-header">
        <li class="th"><label style="font-size: 0.9em;color: white;">Category</label></li>
        <li class="th"><label style="font-size: 0.9em;color: white;">Weather Forecast</label></li>
      </ul>
      <ul class="table-body">
        <li class="tr"></li>
        <li class="tr">
          <span class="metric td"> <label style="font-size: 0.9em;color: white;">Temperature (Celsius)</label></span>
          <span class="td "><span class="number" style="font-size: 0.9em;">{{ weatherData.list[0].main.temp }}
              °C</span></span>
          <!-- <span class="td percentile-76"><span class="number">{{ weatherData.list[0].main.temp }} °C</span></span> -->
        </li>
        <li class="tr">
          <span class="metric td"><label style="font-size: 0.9em;color: white;">Temperature (Fahrenheit)</label></span>
          <span class="td "><span class="number" style="font-size: 0.9em;">{{ weatherData.list[0].main.temp |
              temperatureConverter:
              'F' }} °F</span></span>
        </li>
        <li class="tr">
          <span class="metric td"><label style="font-size: 0.9em;color: white;">Humidity</label></span>
          <span class="td "><span class="number" style="font-size: 0.9em;">{{ weatherData.list[0].main.humidity }}
              %</span></span>
        </li>
        <li class="tr">
          <span class="metric td"><label style="font-size: 0.9em;color: white;">Wind Speed</label></span>
          <span class="td "><span class="number" style="font-size: 0.9em;">{{ weatherData.list[0].wind.speed }}
              m/s</span></span>
        </li>
        <li class="tr">
          <span class="metric td"><label style="font-size: 0.9em;color: white;">Weather</label></span>
          <span class="td "><span class="number" style="font-size: 0.9em;">{{ weatherData.list[0].weather[0].description
              }}</span></span>
        </li>
        <li class="tr">
          <span class="metric td"><label style="font-size: 0.9em;color: white;">weatherDataAvailable</label></span>
          <span class="td "><span class="number" style="font-size: 0.9em;">Weather in {{ weatherData.city.name
              }}</span></span>
        </li>
        <li class="tr"></li>
      </ul>
    </div>

  </div>
</div>